@import "./reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:wght@400;600&display=swap');

$gray: #c6caca;
$grownBlack: #1F1414;
$borderline: 4px solid $grownBlack;

body {
  font-size: 16px;
  color: $grownBlack;
  font-family: 'Archivo Black', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bcbfbf;
}

.phone {
  width: 480px;
  padding-bottom: 20px;
  background-color: $gray;
  border-radius: 10px;
  box-shadow: 5px 10px 10px  rgba($color: #000000, $alpha: 0.5);
}

.header {
  padding: 50px 15px 20px 15px;
  display: flex;
  justify-content: space-between;
  span {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child {
      justify-content: flex-start;
    }
    &:last-child {
      justify-content: flex-end;
    }
  }
  .header__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
  }
  .header__btn {
    i {
      margin-right: 10px;
    }
  }
}

.total {
  background-color: $grownBlack; 
  padding: 30px 15px;
  color: $gray;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  gap: 5px;
  .total__price {
    font-size: 26px;
  }
  .total__subtitle {
    font-size: 18px;
  }
}

.items {
  background-color: #C6CACA;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .item {
    background-color: #D7DBDB;
    border-top: $borderline;
    position: relative;
    .item__info {
      padding: 30px 15px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);      
      align-items: flex-start;

      .item__info-col {
        font-weight: bold; 
        display: flex;
        flex-direction: column;
        gap: 5px;
        &:nth-child(2) {
          align-items: flex-end;
          font-weight: bold;
        }

        .item__title {
          font-size: 43px;
          text-transform: uppercase;
        }

        .item__subtitle {
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          font-size: 16px;
        }

        .item__total-price {
          font-size: 34px;
        }

        .item__piece-price {
          font-family: 'Open Sans', sans-serif;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}

.item__spacs {
  border-top: $borderline; 
  border-bottom: $borderline; 
  display: grid;
  grid-template-columns: repeat(auto-fill, 125px);
  .spec {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:last-child {
      border-left: $borderline; 
    }
  }
}

.item__photo {
  position: absolute;
  width: 40%;
  height: 65%;
  border: $borderline;
  right: 15px;
  bottom: 0px;
  object-fit: cover;
}
