doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="style/style.scss")
        title Fashion Store UI
    body 
        .phone
            header.header
                span.header__btn
                    i(class="fa-solid fa-chevron-left")
                    i(class="fa-solid fa-bars")
                span 
                    h1.header__title My Cart 
                span.header__btn
                    i(class="fa-solid fa-cart-shopping")
            section.total
                span.total__price $3550
                span.total__subtitle based on your 5 items
            section.items
                artical.item
                    div.item__info
                        .item__info-col
                            h2.item__title Pop Temeple Print T-Shirt
                            h3.item__subtitle versace limited 2002
                        .item__info-col
                            span.item__total-price $1990
                            .item__piece-price $995 per piece
                    div.item__spacs
                        .spec
                            .spec__title Size
                            .spec__value 48 - L
                        .spec
                            .spec__title QT
                            .spec__value 2 pcs
                    img(src="https://source.unsplash.com/random" class="item__photo")
                artical.item
                    div.item__info
                        .item__info-col
                            h2.item__title Chain Reaction trainers
                            h3.item__subtitle versace limited 2002
                        .item__info-col
                            span.item__total-price $850
                            .item__piece-price $850 per piece
                    div.item__spacs
                        .spec
                            .spec__title Size
                            .spec__value 45
                        .spec
                            .spec__title QT
                            .spec__value 1 pcs
                    img(src="https://source.unsplash.com/random" class="item__photo")

        script(src="https://kit.fontawesome.com/7489903411.js" crossorigin="anonymous")

